/* Global ---------------------------- */

html, body {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 50%;
  width: 80%;
  background: #fff;
  font-family: Roboto;
  display: block;
  position: relative;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
}

.content {
  padding: 0.3819em;
  margin: 0.618em;
  text-align: center;
  overflow-y: auto;
  transition: 0.5s 0.3s cubic-bezier(.55, 0, .1, 1);
}
