mixin add_homepage(title)

  .page-rows
    h1.text-center= title
    span.vert-space

    #chart-container

  script.
    //- var org_chart_builder = require('./assets/js/build_org_chart.js')
    require('orgchart')

    function build_org_chart (data) {
      var org_chart_options = {
        'data': data,
        'nodeID': 'id',
        'nodeContent': 'title',
        'exportButton': true,
        'exportFilename': 'DMS Org Chart'
      }

      $('#chart-container').orgchart(org_chart_options);
    }

    window.onload = build_org_chart(org_data)
