mixin add_attendance(title)

  .page-rows
    h1.text-center= title
    span.vert-space

    .row.attendance-first-row.flexbox-container

      .gauge-row-flexbox
        span.hint--always(aria-label="Sales and F&I")
        //- F&I
        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Absent Count | 2016 YTD'
            #attendance_sfi_abs_cnt_gauge

        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Late Count | 2016 YTD'
            #attendance_sfi_late_cnt_gauge

        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Left-Early Count | 2016 YTD'
            #attendance_sfi_early_cnt_gauge

    .row.attendance-second-row.flexbox-container

      .gauge-row-flexbox
        span.hint--always(aria-label="DMS")
        //- DMS
        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Absent Count | 2016 YTD'
            #attendance_dms_abs_cnt_gauge

        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Late Count | 2016 YTD'
            #attendance_dms_late_cnt_gauge

        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Left-Early Count | 2016 YTD'
            #attendance_dms_early_cnt_gauge

    .row.attendance-third-row.flexbox-container

      .gauge-row-flexbox
        span.hint--always(aria-label="RTS")
        //- RTS
        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Absent Count | 2016 YTD'
            #attendance_rts_abs_cnt_gauge

        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Late Count | 2016 YTD'
            #attendance_rts_late_cnt_gauge

        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Left-Early Count | 2016 YTD'
            #attendance_rts_early_cnt_gauge

    .row.attendance-fourth-row.flexbox-container

      .gauge-row-flexbox
        span.hint--always(aria-label="CRM")
        //- RTS
        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Absent Count | 2016 YTD'
            #attendance_crm_abs_cnt_gauge

        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Late Count | 2016 YTD'
            #attendance_crm_late_cnt_gauge

        .attendance-card
          .content
            h3.text-center.gauge-title
              = 'Left-Early Count | 2016 YTD'
            #attendance_crm_early_cnt_gauge

  script.
    var query_attendance = require('./main-process/db/queries/attendance_queries.js')
    var sfi_attendance_js = require('./main-process/db/graph_builders/attendance/attendance_sfi.js')
    var dms_attendance_js = require('./main-process/db/graph_builders/attendance/attendance_dms.js')
    var rts_attendance_js = require('./main-process/db/graph_builders/attendance/attendance_rts.js')
    var crm_attendance_js = require('./main-process/db/graph_builders/attendance/attendance_crm.js')

    var query_to_execute = query_attendance.get_attendance_solution_counts_by_yr
    var graph_builder_procs = [
                                sfi_attendance_js.build_solution_absence_counts_by_yr_graph,
                                sfi_attendance_js.build_solution_late_counts_by_yr_graph,
                                sfi_attendance_js.build_solution_early_counts_by_yr_graph,
                                dms_attendance_js.build_solution_absence_counts_by_yr_graph,
                                dms_attendance_js.build_solution_late_counts_by_yr_graph,
                                dms_attendance_js.build_solution_early_counts_by_yr_graph,
                                rts_attendance_js.build_solution_absence_counts_by_yr_graph,
                                rts_attendance_js.build_solution_late_counts_by_yr_graph,
                                rts_attendance_js.build_solution_early_counts_by_yr_graph,
                                crm_attendance_js.build_solution_absence_counts_by_yr_graph,
                                crm_attendance_js.build_solution_late_counts_by_yr_graph,
                                crm_attendance_js.build_solution_early_counts_by_yr_graph
                              ]

    window.onload = execute_and_build_sql(query_to_execute, graph_builder_procs)
