mixin get_ytd_qpa_solution_report(placeholder)

  #qpa_ytd_solution_sec.app-section
    script.
      var query_qpa = require('./main-process/db/queries/qpa_queries.js')
      var yearly_qpa_avgs = require('./main-process/db/graph_builders/qpa/qpa_ytd_solution_avg_gauges.js');
      var month_over_month_qpa = require('./main-process/db/graph_builders/qpa/qpa_all_solutions_month_over_month_timeseries.js');

      window.onload = execute_and_build()

      function execute_and_build () {
        build_solution_yearly_avgs()
        build_solution_month_over_month_graphs()

        function build_solution_yearly_avgs () {
          var query_to_execute = query_qpa.get_QPA_solution_avg_by_yr
          var graph_builder_proc = yearly_qpa_avgs.build_solution_yearly_avg_graphs

          execute_and_build_sql(query_to_execute, graph_builder_proc)
        }

        function build_solution_month_over_month_graphs () {
          var query_to_execute = query_qpa.get_QPA_all_solution_avgs_month_over_month_by_yr
          var graph_builder_procs = [
                                      month_over_month_qpa.build_qpa_all_solution_avgs_month_over_month_timeseries,
                                      month_over_month_qpa.build_qpa_all_solution_counts_month_over_month_timeseries
                                    ]
          execute_and_build_sql(query_to_execute, graph_builder_procs)
        }
      }

    .page-rows
      h1.text-center QPA - All Solutions | Year-to-Date
      span.vert-space

      h3.text-center CURRENT QPA AVG BY SOLUTION

      .row.qpa-first-row.flexbox-container

        .gauge-row-flexbox

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'CD'
              #cd_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'CRM'
              #crm_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'CSO (Billing)'
              #cso_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'DMS'
              #dms_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'F&I'
              #fi_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'RTS'
              #rts_qpa_yr_avg_gauge

      .qpa-reports-container

        .qpa-big-card
          .qpa-card-content
            h3.text-center.qpa-timeseries-title QPA Averages By Solution | Month-Over-Month
            #qpa_all_solutions_month_over_month_avgs

        .col-spacer

        .qpa-big-card
          .qpa-card-content
            h3.text-center.qpa-timeseries-title QPA Counts By Solution | Month-Over-Month
            #qpa_all_solutions_month_over_month_cnts
