mixin get_qpa_custom_dates_solution_report(placeholder)

  #qpa_choose_dates_solution_sec.app-section
    .page-rows
      h1.text-center
        | QPA - All Solutions | Custom Date Range

      span.vert-space

      .qpa-date-selection-container
        form#qpa_solution_pick_custom_dates_form(name="qpa_solution_pick_custom_dates_form")
          .form-group

            .qpa-date-selection.qpa-start-date-selection
              label(for='qpa_solution_start_date')
              ='Start Date   '
              input(type="text" name="qpa_solution_start_date_input" id="qpa_solution_start_date" placeholder="Start Date" class="datepicker" data-value="")

            .qpa-date-selection.qpa-end-date-selection
              label(for='qpa_solution_end_date')
              ='End Date   '
              input(type="text" name="qpa_solution_end_date_input" id="qpa_solution_end_date" placeholder="End Date" class="datepicker" data-value="")

          .form-submit
            button#qpa_solution_cutom_dates_form_submit.btn.btn-large.btn-primary(type="submit")
              | Submit

          span.vert-space

      .qpa-custom-dates-solution-report
        .custom-date-report-options
          button#qpa_custom_go_back.btn.btn-large.btn-default.animate-button Back
          button#qpa_print_pdf.btn.btn-large.btn-default.animate-button PDF
          span#pdf-path

        .gauge-row-flexbox

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'CD'
              #cd_qpa_custom_range_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'CRM'
              #crm_qpa_custom_range_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'CSO (Billing)'
              #cso_qpa_custom_range_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'DMS'
              #dms_qpa_custom_range_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'F&I'
              #fi_qpa_custom_range_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'RTS'
              #rts_qpa_custom_range_avg_gauge

        .qpa-big-card.main-chart
          h3.text-center.qpa-custom-range-bar-chart
          #qpa_all_solutions_custom_range_bar_chart

        //- .data-table
        //-   table.table-striped
        //-     thead
        //-       tr
        //-         th Name
        //-         th Kind
        //-         th File Size
        //-     tbody
        //-       tr
        //-         td photon.css
        //-         td CSS
        //-         td 28K
        //-       tr
        //-         td photon.css
        //-         td CSS
        //-         td 28K
        //-       tr
        //-         td photon.css
        //-         td CSS
        //-         td 28K

    script.
      require('./renderer-process/qpa/pdf')
      window.$ = window.jQuery = require('jquery');

      var query_qpa = require('./main-process/db/queries/qpa_queries.js');
      var custom_qpa_solution_avgs_gauge_row = require('./main-process/db/graph_builders/qpa/qpa_all_solutions_custom_range_gauge_row.js');
      var custom_qpa_solution_avgs_bar_graphs = require('./main-process/db/graph_builders/qpa/qpa_all_solutions_custom_range_bar_graphs.js');

      function show_custom_qpa_solution_report(query) {
        var query_to_execute = query
        var graph_builder_procs = [
                                    custom_qpa_solution_avgs_gauge_row.build_custom_range_solution_avgs_graphs,
                                    custom_qpa_solution_avgs_bar_graphs.build_qpa_all_solution_avgs_custom_range_bar_chart
                                  ]

        execute_and_build_sql(query_to_execute, graph_builder_procs)
      }

      $(document).ready(function(event){

        $('.datepicker').pickadate({
          format: 'mm/dd/yyyy',
          formatSubmit: 'yyyy-mm-dd',
          hiddenName: true,
          min: new Date(2016,0,1),
          max: new Date()
        });

        $('form').submit(function (e) {
          e.preventDefault();

          var start_date_value = document.forms.qpa_solution_pick_custom_dates_form.elements.qpa_solution_start_date_input.value;
          var end_date_value = document.forms.qpa_solution_pick_custom_dates_form.elements.qpa_solution_end_date_input.value;

          var pretty_start_date = document.forms.qpa_solution_pick_custom_dates_form.elements.qpa_solution_start_date.value;
          var pretty_end_date = document.forms.qpa_solution_pick_custom_dates_form.elements.qpa_solution_end_date.value;

          $('#qpa_choose_dates_solution_sec h1.text-center').text('QPA - All Solutions | ' + pretty_start_date + ' - ' + pretty_end_date);

          $('.qpa-big-card.main-chart h3').text('QPA Counts By Solution | ' + pretty_start_date + ' to ' + pretty_end_date);

          var constructed_query = query_qpa.get_overall_QPA_solution_avg_between_dates + ' ' + "'" + start_date_value + "'" + ', ' + "'" + end_date_value + "'";

          show_custom_qpa_solution_report(constructed_query);

          $('.qpa-date-selection-container').hide();
          $('.qpa-custom-dates-solution-report').addClass('is-visible');
        });

        $('#qpa_custom_go_back').click(function() {
          $('.qpa-date-selection-container').show();
        });

      });
