.qpa-homepage-header h3 {
  font-weight: bold;
  font-size: 32px;
}

.qpa-reports-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.qpa-reports-container h4 {
  font-size: 24px;
  margin-bottom: 0;
}

.qpa-card-group {
  display: flex;
  overflow: hidden;
}

.qpa-homepage-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.qpa-homepage-card,
.qpa-homepage-card * {
  cursor: pointer;
}

.qpa-homepage-card:hover {
  background: linear-gradient(135deg, #00599A, #00599A, 94%, white);
  color: white;
}

.qpa-card-group-card {
  flex: 1 1 0%;
  border: none;
  border-radius: 0;
}

.qpa-card-group-card-description {
  flex: 1 1 auto;
}

.animate-button {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.animate-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
}

.qpa-big-card {
  display: block;
  height: 100%;
  width: 75%;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 0.2em;
  padding-right: 1.319em;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.qpa-big-card .qpa-card-content {
  padding: 0.3819em;
  text-align: center;
  overflow: hidden;
  transition: 0.5s 0.3s cubic-bezier(.55, 0, .1, 1);
}

.col-spacer {
  padding-top: 1em;
}

.qpa-timeseries-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}

/*---------------------------------------------*/
/*---QPA YTD REPORTS---*/
/*---------------------------------------------*/

.page-rows a {
  display: flex;
  flex-direction: column;
}

.row.qpa-first-row.flexbox-container,
.row.qpa-second-row.flexbox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.gauge-row-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding-left: 1.619em;
  padding-right: 1.619em;
  align-items: center;
  justify-content: center;
}

.qpa-card {
  max-height: 10em;
  max-width: 10em;
  height: 10%;
  width: 16.812%;
  justify-content: center;
  vertical-align: middle;
  background: #fff;
  display: block;
  position: relative;
  margin-bottom: 1em;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.qpa-card .content {
  overflow-x: hidden;
}

.qpa-card .gauge-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  color:rgba(0,0,0,.6);
  font-weight: bold;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media (max-width:800px) and (min-width:300px) {
  .qpa-card text.c3-gauge-value {
    font-size: 5px !important;
    font-weight: bold;
  }
}

@media (max-width:1025px) and (min-width:801px) {
  .qpa-card text.c3-gauge-value {
    font-size: 9px !important;
    font-weight: bold;
  }
}

@media (max-width:4000px) and (min-width:1026px) {
  .qpa-card text.c3-gauge-value {
    font-size: 12px !important;
    font-weight: bold;
  }
}

/*---------------------------------------------*/
/*---QPA CUSTOM DATE RANGE REPORTS---*/
/*---------------------------------------------*/

#qpa_choose_dates_solution_sec .page-rows {
  width: 100%;
  height: 50%;
}

.qpa-date-selection-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#qpa_solution_pick_custom_dates_form .form-group {
  display: flex;
  overflow: hidden;
  padding: 1em;
}

#qpa_team_pick_custom_dates_form .form-group {
  display: flex;
  overflow: hidden;
  padding: 1em;
}

.qpa-date-selection {
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.619em;
  margin: 0.619em;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.qpa-date-selection input {
  cursor: pointer;
  text-align: center;
}

.qpa-supervisor-selection {
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.619em;
  margin: 0.619em;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.qpa-supervisor-selection select {
  cursor: pointer;
  text-align: center;
  border-color: solid black;
  border-width: 0.5px;
}

#qpa_solution_pick_custom_dates_form .form-submit {
  display: flex;
  overflow: hidden;
  padding: 1em;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#qpa_team_pick_custom_dates_form .form-submit {
  display: flex;
  overflow: hidden;
  padding: 1em;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#qpa_solution_cutom_dates_form_submit {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.qpa-custom-dates-solution-report {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.custom-date-report-options {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-align: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

.custom-date-report-options button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.is-visible {
  visibility: visible;
  transition: all 0.2s ease-in-out;
}

.is-not-visible {
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

/*---------------------------------------------*/
/*---QPA YTD WORKGROUP REPORTS---*/
/*---------------------------------------------*/

.qpa-workgroup-report {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.qpa-solution-selection-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}
