mixin navbar_builder(title)
  div.pane.pane-sm.sidebar
    div.logo

    div.sidebar-menu
      nav.nav-group
        h1.nav-group-title.text-center Menu

        div.sidebar-menu-items

          button#homepage.nav-group-item.btn.btn-large.btn-default.icon.icon-home.main-btn.main-click-el
            = ' Org Chart'

          button#add_tm.nav-group-item.btn.btn-large.btn-default.icon.icon-chart-area.main-btn.main-click-el
            = ' Add TM'

          button#del_tm.nav-group-item.btn.btn-large.btn-default.icon.icon-clock.main-btn.main-click-el
            = ' Remove TM'

          button#edit_struct.nav-group-item.btn.btn-large.btn-default.icon.icon-gauge.main-btn.main-click-el
            = ' Edit Hierarchy'
